name = "account"
compatibility_date = "2024-01-01"
main = "src/global.mjs"

# ============ BINDINGS ============

# KV Namespace binding
kv_namespaces = [
  { binding = "READTALK_KV", id = "13a468e30cc84fe58ff6297d799050f2" }
]

# D1 Database binding
[[d1_databases]]
binding = "READTALK_DB"
database_name = "readtalk_db"
database_id = "ff653b9c-4e2c-479d-8aa4-497da62de3c5"

# R2 Bucket binding
[[r2_buckets]]
binding = "READTALK_R2"
bucket_name = "readtalk-r2"

# SERVICE BINDING OPENAUTH
[[services]]
binding = "OPENAUTH"
service = "openauth"  # Nama worker OpenAuth loe
environment = "production"  # (opsional, kalo ada multiple env)

# Durable Object bindings
[durable_objects]
bindings = [
  { name = "rooms", class_name = "ChatRoom" },
  { name = "limiters", class_name = "RateLimiter" }
]

# ============ MIGRATIONS ============
[[migrations]]
tag = "v1"
new_classes = ["ChatRoom", "RateLimiter"]

# ============ RULES ============
[[rules]]
type = "Data"
globs = ["**/*.html"]
fallthrough = false

# ============ OBSERVABILITY ============
[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

# ============ BUILD ============
[build]
upload.format = "modules"

# ============ DEVELOPMENT ============
[dev]
ip = "localhost"
port = 8787
local_protocol = "http"
